* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: none;
}
p {
  font-size: 1em;
  text-align: justify;
  line-height: 2em;
  padding: 0 2em;
  margin-bottom: 1em;
}
#flashlight {
  --Xpos: 30vw;
  --Ypos: 30vh;
}
#flashlight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle 9em at var(--Xpos) var(--Ypos),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}
@media screen and (min-width: 400px) {
  body {
    font-size: 12px;
  }
}
.video-container {
  position: relative;
  width: 15vw; /* Réduire la largeur de la vidéo */
  max-width: 300px; /* Largeur maximum pour éviter d'être trop grande */
  height: auto; 
  margin: auto; /* Centre la vidéo horizontalement */
  opacity: 1;
}

.video {
  width: 100%; /* La vidéo occupe toute la largeur de son conteneur */
  height: auto; /* Hauteur automatique pour garder le ratio */
}
